:root {
    --yellow: #F9D023;
    --black: #000000;
    --white: #ffffff;
    --gray: #555555;
    --sombra-suave: 0px 4px 20px rgba(0, 0, 0, 0.2);
    --radio-grande: 2em;
    --fuente: 'Arial', sans-serif;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 1em;
    font-family: var(--fuente);
    background-color: var(--yellow);
   display: grid;
   place-items: center;
    height: 100vh;
  }
main{
    position: fixed;
    bottom: 1em;
}  
  .tarjeta {
    padding-top: 6em;
    background-color: var(--white);
    width: 100%;
    margin: auto;
    height: 500px;
    border-radius: var(--radio-grande);
    box-shadow: var(--sombra-suave);
    text-align: center;
    padding: 2em 2.5em 2.5em;
    position: relative;
  }
   
  .contenido-tarjeta {
    padding-top: 10em;
  }
  
  .imagen-comida {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: var(--sombra-suave);
  border: 5px solid var(--white);
  background-color: var(--white);

  }
  
  
  .imagen-comida img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .titulo {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: var(--black);
  }
  
  .descripcion {
    font-size: 0.9em;
    color: gray;
    margin-bottom: 1em;
  }
  
  .envio {
    font-size: 0.85em;
    color: var(--gray);
    margin-bottom: 0.6em;
  }
  
.precio-cantidad {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-bottom: 1em;
 }

.precio {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--black);
  margin: 0;  
  }

  .boton-carrito {
    background-color: var(--black);
    color: white;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 1em;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
  }
 
.barra-superior {
  position: fixed;
  top: 1em;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
  font-size: 1.8em;
  color: var(--black);
  z-index: 10;
}


.cantidad {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.cantidad button {
  background: none;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
